*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: #292c35;
}
.tomatodefaultbutton{
    background-color: white;
    color: tomato;
    padding: 5px 8px;
    border: 1px solid tomato;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    margin-top: 5px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    font-size: 20px;
}
.tomatodefaultbutton:hover{
    background-color: tomato;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
#centro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
.bluedefaultbutton{
    background-color: white;
    color: blue;
    padding: 5px 8px;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    margin-top: 5px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    font-size: 20px;    
}
.bluedefaultbutton:hover{
    background-color: blue;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
.violetdefaultbutton{
    background-color: white;
    color: violet;
    padding: 5px 8px;
    border: 1px solid violet;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    margin-top: 5px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    font-size: 20px;    
}
.violetdefaultbutton:hover{
    background-color: violet;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
.crimsondefaultbutton{
    background-color: white;
    color: crimson;
    padding: 5px 8px;
    border: 1px solid crimson;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    margin-top: 5px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    font-size: 20px;    
}
.crimsondefaultbutton:hover{
    background-color: crimson;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}